* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav.navbar {
    padding-left: 11rem;
    padding-right: 11rem;
}

section {
    padding-left: 11rem;
    padding-right: 11rem;
}


/* Navbar */

nav .navbar-collapse {
    flex-grow: 0;
}

/* End of Navbar */


/* Home */

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.home .icons .icon-container {
    background-color: rgb(0, 0, 0, 0.6);
    height: 1.9rem;
    width: 1.9rem;
}

/* End of Home section */


/* About */

.about h3 {
    font-size: 1rem;
    color: #748182;
}

.about .info {
    color: #748182;
}

.about .skills .progress {
    height: 1.7rem;
}

.about .skills p {
    margin: 0;
}

.about .reach .btn-black {
    background-color: black;
    color: white;
    border: 2px black solid;
}

.about .reach .btn-black:hover {
    background-color: white;
    color: black;
}

.about .reach .btn-white {
    background-color: white;
    color: black;
    border: 2px black solid;
}

.about .reach .btn-white:hover {
    background-color: black;
    color: white;
}